{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

        <h1 class="titre">
            Enseignement catholique <br>
            Sainte Marie de la Présentation
        </h1>

        {# block carrousel3 #}
        {% if img[2] is defined %}
            <div class="slideshow-container3">

        {% for image in img %}
                <div class="mySlides">
                    <img class="image_3carrousel" src="..\img\{{image}}" onmouseover="" onmouseout="">
                </div>
        {% endfor %}

            </div>

        {% else %}
            <img class="image_3carrousel" src="..\img\{{img[0]}}">
        {% endif %}
        {# endblock #}

    <div class="horaire">
        <div class="Titre_horaire">
            <hr color="black">
                <h2>Horaires de notre établissement</h2>
            
            <hr color="black">
        </div>
        <div class="blockHoraires">
            <div id="listHoraires">
                {% for horaire in horaires %}
                    <div>
                        <p>{{horaire[0]}} de</p>
                        {% if horaire[2] is defined %}
                            <p>{{horaire[1]}}<br>{{horaire[2]}}</p>
                        {% else %}
                            <p>{{horaire[1]}}</p>
                        {% endif %}
                    </div>
                    {% if horaires|last != horaire %}
                        <hr color="black" width="70px">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="maps">
        <hr color="black">
        <h2>Voici l'emplacement de notre établissement:</h2>
        <hr color="black">
        <iframe id="gmaps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6062.900696647676!2d2.77699406664248!3d50.28939417001118!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47dd4876a03da4e5%3A0xd539c81bd012fd24!2sEcole%20Sainte%20Marie%20de%20la%20Pr%C3%A9sentation!5e0!3m2!1sfr!2sfr!4v1638785443439!5m2!1sfr!2sfr"
        width="100%" height="450" allowfullscreen="" loading="lazy"></iframe>
        <hr color="black">
    </div>

    <div class="contact">
        <br>
        <h2>Nous contacter</h2>
        <div class="coordonnees">
            <div>
                {% for phone in phones %}
                    <i class="fas fa-phone-alt"></i> {{phone}}
                    {% if phones|last != phone %}
                    <br>
                    {% endif %}
                {% endfor %}
            </div>
            <div id="mailAddress">
                {% for mail in mails %}
                    <i class="fa fa-envelope"></i> {{mail}}
                    {% if mails|last != mail %}
                    <br>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <br>
        <hr color="black">
        <br>
        <h2>Formulaire de contact</h2>
        <div class="listInput">
            <div class="input_form" id="formulaire_contact">
                <div class="fields">
                    <input id="Nom"   type="text" placeholder="Nom et Prénom" tabindex="1"/>
                    <input id="Email" type="email" placeholder="Email" tabindex="2"/>
                    <input id="Objet" type="text" placeholder="Objet" tabindex="3"/>
                </div>
                </br></br>

                <textarea id="textarea" tabindex="4"></textarea></br>
                <div class="btn_form">
                    <button id="btn_contact" tabindex="5" onclick="mail()"/>Envoyer</button>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="js/accueil/accueil.js"></script>
    <script type="text/javascript" src="../js/carrousel/auto3Carrousel.js"></script>
    <script type="text/javascript" src="js/background/background.js"></script>
{% endblock %}
