{% extends 'base.html.twig' %}

{% block title %}Presentation{% endblock %}

{% block body  %}

    <div class="container">
        <div>
            <h4>Présentation de l'établissement</h4>

            <hr width="20%" color= "#40a4bc" align="left">

            {% for text in pres %}
                    <p>{{text}}</p>
            {% endfor %}
        </div>
        <p>
            {% for text in desc %}
                    {{text}}
            {% if desc|last != text %}
                <br>
            {% endif %}
            {% endfor %}
        </p>

        <div class="slideshow-container">

            {% for image in img %}
                    <div class="mySlides">
                        <img class="image_carrousel" src="..\img\{{image}}" onmouseover="" onmouseout="">
                    </div>
            {% endfor %}

        </div>
    </div>
    <br>
    <br>
    <div class= "div_presentation">
        {% for PDF in PDFs %}
            <div class="PDF">
                <i class="fas fa-file-pdf"></i>
                <a href="PDF\{{PDF[1]}}" target="_blank">{{PDF[0]}}</a>
                <hr width="20%" color= "#40a4bc">
            </div>
        {% endfor %}
    </div>
    <br>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="js/carrousel/autoCarrousel.js"></script>
    <script type="text/javascript" src="js/background/background.js"></script>
{% endblock %}