{% extends 'base.html.twig' %}
    
{% block title %}{{class}}{% endblock %} {# insert of title (3 letters id) #}


{% block favicon %}
<link rel="icon" type="image/png" href="../favicon.png">
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ '../css/style.css' }}"/>
{% endblock %}


{% block body %}

    <div class="container">
        <div>
            <br>
            <a href="/classes" class="retour"><- Retour</a>
            <br>
            <h4>{% block nomClasse %}Classe de {{className}}{% endblock %}</h4> {# insert of class name (full desc) #}

            <hr width="20%" color= "{{color}}" align="left">
            <br>

            {# block carrousel #}
            {% if img[1] is defined %}
                <div class="slideshow-container">

            {% for image in img %}
                    <div class="mySlides">
                        <img class="image_accueil" src="..\img\Classes\{{image}}">
                    </div>
            {% endfor %}

                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>

                </div>
            
            {% else %}
                <img class="image_accueil" src="..\img\Classes\{{img[0]}}">
            {% endif %}
            {# endblock #}

            <br>

            {# block profs#}

                <h4>Enseigné par:</h4>
                <p>{{listeProfs}}</p>

            {# endblock #}

        </div>
    </div>

{% endblock %}


{% block javascripts %}
    {% if img[1] is defined %}
        <script type="text/javascript" src="../js/carrousel.js"></script>
    {% endif %}
{% endblock %}
